<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAPI</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/favorites.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="../script/index.js"></script>
    <script src="https://kit.fontawesome.com/4845b92171.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="pokemons">
                <div class="left">
                    <h3><a href="index.html">Pokemons</a></h3>
                </div>
                <div class="right">
                    <button class="search">Search</button>
                    <button class="favorites">Favorites</button>
                </div>
            </div>
        </header>
        <main>
            <div class="search-pokemons">
                <div id="favorites">
                    <h1>Favorites</h1>
                    <p id="favorites-error"></p>
                    <p id="no-favorites"></p>
                    <div class="pokemon-favorites">
                    </div>
                </div>
                <div id="repos">
                    <h1>Pokemon's details</h1>
                    <div class="favorites-detail">

                    </div>
                </div>
                <!-- <div id="pagination">
                    <a><i class="fa-solid fa-chevron-left"></i>Previous</a>
                    <input type="number">
                    <a>Next<i class="fa-solid fa-chevron-right"></i></a>
                </div> -->
            </div>

        </main>
        <footer>

        </footer>
    </div>
</body>
</html>